<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784347317648-930fb46hntjl84ast7racr1aim117jek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784347317648-930fb46hntjl84ast7racr1aim117jek</string>
	<key>API_KEY</key>
	<string>AIzaSyArgSD2MS7qvHv5FaIJ5RYtB5CxF9697EA</string>
	<key>GCM_SENDER_ID</key>
	<string>784347317648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bullshitman.flutterChat</string>
	<key>PROJECT_ID</key>
	<string>fastashellchat</string>
	<key>STORAGE_BUCKET</key>
	<string>fastashellchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784347317648:ios:204fffe6a4a6da97559f15</string>
</dict>
</plist>